# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/
venv/

# Environment variables
.env
*.env

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Secrets and private keys
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*